:root {
    --white: hsl(0, 100%, 100%);

    --purple-900: hsl(300, 43%, 22%);
    --purple-300: hsl(303, 10%, 53%);
    --purple-100: hsl(300, 24%, 96%);

    --pink-400: hsl(333, 80%, 67%);

    --orange-400: hsl(28, 84%, 61%);

    --gradient-1: hsl(301, 44%, 22%);
    --gradient-2: hsl(300, 34%, 40%);

    --font-main: 'League Spartan', sans-serif;

    --spacing-1200: 6rem;  //96px
    --spacing-600: 3rem;   //48px
    --spacing-400: 2rem;   //32px
    --spacing-300: 1.5rem; //24px
    --spacing-200: 1rem;   //16px
    --spacing-100: 0.5rem; //8px 
}